.menu-title-container{
  color: white;
}

.menu-title-container  > h1{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 135px;
  font-family: 'segoe UI';
  display: flex;
  justify-content: center;
}

.menu-title-container  > hr{
  margin-top: 23px;
  margin-bottom: 5px;
}
